.cisco-picture {
    display: flex;
    margin-left: 40%;
    margin-top: 20vh;
    margin-bottom: 8vh;
    max-width: 50%;
    height: 44vh;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.cisco-company {
    font-size: 50px;
    margin-left: 53%;
}

.cisco-text {
    margin-top: 4vh;
    margin-bottom: 10vh;
    text-align: justify;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 10vw;
}

@media (max-width: 800px) {
    .cisco-company {
        margin-left: 52%;
    }

    .cisco-text {
        margin-left: 35%;
        padding-right: 5vw;
    }
}