.cisco-picture {
    display: flex;
    margin-left: 40%;
    margin-top: 150px;
    margin-bottom: 75px;
    max-width: 50%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.cisco-company {
    font-size: 50px;
    margin-left: 53%;
}

.cisco-text {
    margin-top: 25px;
    margin-bottom: 100px;
    text-align: left;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 200px;
    color: black;
}