.pilot-picture {
    display: flex;
    margin-left: 47%;
    margin-top: 20vh;
    margin-bottom: 8vh;
    max-width: 50%;
    height: 44vh;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.pilot-company {
    font-size: 50px;
    margin-left: 53%;
}

.pilot-text {
    margin-top: 4vh;
    margin-bottom: 10vh;
    text-align: justify;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 10vw;
}

@media (max-width: 800px) {
    .pilot-picture {
        margin-left: 32%;
    }

    .pilot-company {
        margin-left: 46%;
    }

    .pilot-text {
        margin-left: 30%; 
        padding-right: 5vw;
        text-align: left;
        font-size: medium;
    }
}

@media (max-height: 500px) { 
    .pilot-picture {
        margin-left: 50.5%;
    }
}