.parke-picture {
    display: flex;
    margin-left: 51%;
    margin-top: 20vh;
    margin-bottom: 8vh;
    max-width: 50%;
    height: 44vh;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.parke-company {
    font-size: 50px;
    margin-left: 45%;
}

.parke-text {
    margin-top: 4vh;
    margin-bottom: 10vh;
    text-align: justify;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 10vw;
}

@media (max-width: 800px) {
    .parke-picture {
        margin-left: 36%;
    }

    .parke-company {
        margin-left: 36%;
    }

    .parke-text {
        margin-left: 30%;
        padding-right: 5vw;
        text-align: left;
        font-size: medium;
    }
}

@media (max-height: 500px) {
    .parke-picture {
        margin-left: 51%;
    }

    .parke-company {
        margin-left: 33vw;
    }
}