.dd-picture {
    display: flex;
    margin-left: 35%;
    margin-top: 20vh;
    margin-bottom: 8vh;
    max-width: 50%;
    height: 44vh;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.dd-company {
    font-size: 50px;
    margin-left: 48%;
}

.dd-text {
    margin-top: 4vh;
    margin-bottom: 10vh;
    text-align: justify;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 10vw;
}

@media (max-width: 800px) {
    .dd-picture {
        margin-left: 40%;
    }

    .dd-company {
        margin-left: 43vw;
    }

    .dd-text {
        margin-left: 35%;
        padding-right: 5vw;
    }
}

@media (max-height: 500px) {
    .dd-company {
        margin-left: 38vw;
    }
}