.dd-picture {
    display: flex;
    margin-left: 36%;
    margin-top: 150px;
    margin-bottom: 75px;
    max-width: 50%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.dd-company {
    font-size: 50px;
    margin-left: 48%;
}

.dd-paragraph {
    margin-top: 25px;
    text-align: left;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 200px;
}