.cpa-picture {
    display: flex;
    margin-left: 49%;
    margin-top: 150px;
    margin-bottom: 75px;
    max-width: 50%;
    height: 400px;
    border-radius: 10px;
    position: relative;
    z-index: 199;
}

.cpa-school {
    font-size: 50px;
    margin-left: 41%;
}

.cpa-paragraph {
    margin-top: 25px;
    text-align: left;
    margin-left: 25%;
    font-size: x-large;
    padding-right: 200px;
}